{
  "sources": [
      {
          "name": "AWSTempAccessKey",
          "comment": "used to annotate an AWS temporary access key"
      },
      {
          "name": "DatabricksPersonalAccessToken",
          "comment": "used to annotate a Databricks personal access token"
      }
  ],
  "implicit_sources": {
    "literal_strings": [
      {
        "description": "Indicates a string which may be an Amazon AWS temporary access key.",
        "kind": "AWSTempAccessKey",
        "regexp": "ASIA[0-9A-Z]{16}|REDACTED_ACCESS_KEY"
      },
      {
        "description": "Indicates a string which may be an Amazon AWS access key.",
        "kind": "AWSAccessKey",
        "regexp": "AKIA[0-9A-Z]{16}|REDACTED_ACCESS_KEY"
      },      
      {
        "description": "Indicates a string which may be a Databricks personal access token (these may appear redacted in logs)",
        "kind": "DatabricksPersonalAccessToken",
        "regexp": "dapi.+|REDACTED_API_TOKEN"
      }
    ]
  },
  "rules": [        
    {
      "code": 1138,
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)",
      "name": "User credentials may be leaked",
      "sinks": [
        "RequestSend_DATA",
        "RequestSend_URI",
        "SQL",
        "ReturnedToUser",
        "Logging"
      ],
      "sources": [
        "UserSecrets",
        "AWSTempAccessKey",
        "DatabricksPersonalAccessToken"
      ]
    },
    {
      "code": 1139,
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)",
      "name": "Hardcoded credentials may be used to authenticate requests",
      "sinks": [
        "Authentication",
        "RequestSend_DATA",
        "RequestSend_URI"
      ],
      "sources": [
        "AWSTempAccessKey",
        "DatabricksPersonalAccessToken"
      ]
    }
  ]
}